*{
    padding: 0;
    margin: 0;
}
body{
    font-family: monospace;
    background:#AB0C65;
}

#navbar{
    background: #383534;
    width: 100%;
    height: 30px;   
    padding: 10px;
    top:0;
    /*Fixed sirve para seguir siempre presente sim importar en que parte de pagina estas*/
    position:sticky;          
    
    }

#navbar a{
    text-decoration: none;    
    color: azure;   
    margin: auto;
    font-size: 18px;
    padding: 5px;    
    border-radius: 3px;
    
}

#navbar a:hover{
    color:#AB0C65;
    background: azure;
}
#welcome-section{
    background-image: url('https://images.pexels.com/photos/1363876/pexels-photo-1363876.jpeg?cs=srgb&dl=pexels-travis-blessing-1363876.jpg&fm=jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;     
    position: none;
}
.color{
    background:rgba(176,175,177,0.2);
    position: absolute;
    height: 100%;
    width: 100%;
    color: aliceblue;  
}
.color h1{   
   text-align: center;
    margin-top: 400px;    
    font-size: 350%;    
}
.deMi{
    display: flex;
}


.mosaic{
    display: flex;
    transform: scale(1);
    transition: all 1s;
}

.mosaic div{
    justify-content: space-around;
    margin: 15px;
    font-size: 30px;
    padding: 0px 0px 0px 10px;
    box-sizing: content-box; 
    color:aliceblue   
}


.mosaic div:hover{
    transform: scale(1.1);
    transition: all 1s;
    background: #383534;
    color:white;
}

.link{
    text-decoration: none;
    color:aliceblue;
}

.link:hover{
    color:aliceblue;
}

.box{
    justify-content: space-around;
    box-sizing: content-box;
    width: 44%;
    padding-left: 18px;
    font-size: 20px;    
    color: aliceblue;
}


